<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>true</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.1.121</MSDeployServiceURL>
    <DeployIisAppPath>ShopQuanAo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>ra21006en</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ChuoiKn" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.1.121;Initial Catalog=ShopQuanAo;Persist Security Info=True;User ID=sa;Password=Mstar@1709.vn;Encrypt=False;Trust Server Certificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ShopQuanAo.Models.ShopQuanAoDbContext, ShopQuanAo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ChuoiKn-Web.config Connection String">
      <ParameterValue>Data Source=192.168.1.121;Initial Catalog=ShopQuanAo;Persist Security Info=True;User ID=sa;Password=Mstar@1709.vn;Encrypt=False;Trust Server Certificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>